{% extends "BilleterieBundle::layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block body_billeterie %}

    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/slider/bg1.jpg') }}"
                         alt="slider">

                    <div class="carousel-caption">
                        <h2>register for our next event </h2>
                        <h4>full event package only @$199</h4>
                        <a href="#contact">GRAB YOUR TICKETS <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/slider/bg2.jpg') }}"
                         alt="slider">

                    <div class="carousel-caption">
                        <h2>register for our next event </h2>
                        <h4>full event package only @$199</h4>
                        <a href="#contact">GRAB YOUR TICKETS <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/slider/bg3.jpg') }}"
                         alt="slider">

                    <div class="carousel-caption">
                        <h2>register for our next event </h2>
                        <h4>full event package only @$199</h4>
                        <a href="#contact">GRAB YOUR TICKETS <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#home-->

    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="watch">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/watch.png') }}" alt="">
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-5">
                    <h2>our next event in</h2>
                </div>
                <div class="col-sm-7 col-md-6">
                    <ul id="countdown">
                        <li>
                            <span class="days time-font">00</span>

                            <p>days </p>
                        </li>
                        <li>
                            <span class="hours time-font">00</span>

                            <p class="">hours </p>
                        </li>
                        <li>
                            <span class="minutes time-font">00</span>

                            <p class="">minutes</p>
                        </li>
                        <li>
                            <span class="seconds time-font">00</span>

                            <p class="">seconds</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span>Purchase Tickets</span></a>
            </div>
        </div>
    </section><!--/#explore-->

    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div id="event-carousel" class="carousel slide" data-interval="false">
                        <h2 class="heading">THE ROCKING Performers</h2>
                        <a class="even-control-left" href="#event-carousel" data-slide="prev"><i
                                    class="fa fa-angle-left"></i></a>
                        <a class="even-control-right" href="#event-carousel" data-slide="next"><i
                                    class="fa fa-angle-right"></i></a>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event1.jpg') }}"
                                                 alt="event-image">
                                            <h4>Chester Bennington</h4>
                                            <h5>Vocal</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event2.jpg') }}"
                                                 alt="event-image">
                                            <h4>Mike Shinoda</h4>
                                            <h5>vocals, rhythm guitar</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event3.jpg') }}"
                                                 alt="event-image">
                                            <h4>Rob Bourdon</h4>
                                            <h5>drums</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event1.jpg') }}"
                                                 alt="event-image">
                                            <h4>Chester Bennington</h4>
                                            <h5>Vocal</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event2.jpg') }}"
                                                 alt="event-image">
                                            <h4>Mike Shinoda</h4>
                                            <h5>vocals, rhythm guitar</h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-event">
                                            <img class="img-responsive"
                                                 src="{{ asset('bundles/billeterie/images/event/event3.jpg') }}"
                                                 alt="event-image">
                                            <h4>Rob Bourdon</h4>
                                            <h5>drums</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guitar">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/guitar.png') }}" alt="guitar">
                </div>
            </div>
        </div>
    </section><!--/#event-->

{% endblock %}
