{% extends "BilleterieBundle::layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %}

{% block body_billeterie %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/billeterie/images/slider/bg4.jpg') }}"
                         alt="slider">
                </div>
            </div>
        </div>
    </section>


    <section id="twitter">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
            <div class="row">
                <div class="col-md-12">
                    <p><a href="{{ path('billeterie_blog_add') }}" class="btn btn-success"> Post Add
                            <i class="fa fa-"></i></a>
                    </p>
                </div>

                {% for blog in posts %}
                    <div class="col-md-6">
                        <div class="blog-post ">
                            <h3>{{ blog.titre  | capitalize }}</h3>

                            <p> {{ blog.description | striptags | slice(0, 200) }}</p>
                            <a href="{{ path('billeterie_blog_view',{'slug':blog.slug}) }}" class="btn btn-primary">See
                                the whole post <i class="fa fa-angle-right"></i></a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!--/#twitter-feed-->




{% endblock %}
